<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.enation.pangu.mapper.StepMapper">

    <update id="increaseSort"   >
        update step set sequence =sequence+1 where deployment_id=${deploymentId} and sequence >= ${sequence };
    </update>

</mapper>
